@model ControleDeGastos.Models.TipoConta

@{
    ViewData["Title"] = "Delete";
}

<br />
<p style="font-size: 1rem;">Você tem certeza que quer deletar esse tipo de conta?</p>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tipo de Conta:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </form>
</div>
