@model ControleDeGastos.Models.Usuario

@{
    ViewData["Title"] = "Login";
}

<div class="row d-flex justify-content-center">
    <div class="col-12">
        <br />
        <h1 style="text-align:center;">Sistema de Controle de Contas</h1>
        <hr />
        <br />
    </div>
    <div class="col-md-4">
        <div class="card border-secondary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <form asp-action="Login">
                    <div class="form-group">
                        <label for="Nome">Usuário</label>
                        <input type="text" class="form-control" id="Nome" name="Nome" placeholder="Digite o nome do usuário">
                    </div>
                    <div class="form-group">
                        <label for="Senha">Senha</label>
                        <input type="password" class="form-control" id="Senha" name="Senha" placeholder="Digite a senha">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
                <p class="text-danger">@ViewData["loginMessage"]</p>
            </div>
        </div>
    </div>
</div>



