@{
    ViewData["Title"] = "Categorias";
}
<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table>
</table>
<p>Use this page to detail your site's privacy policy.</p>
