@model ControleDeGastos.Models.ViewModels.ContaFormViewModel

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Conta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Atualizar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Conta.Id" />
            <input type="hidden" asp-for="Conta.UsuarioId" />
            <div class="form-group">
                <label asp-for="Conta.Data" class="control-label"></label>
                <input asp-for="Conta.Data" class="form-control" />
                <span asp-validation-for="Conta.Data" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Conta.TipoContaId" class="control-label"></label>
                <select asp-for="Conta.TipoContaId" class="form-control" asp-items="@(new SelectList(Model.TipoContas,"Id","Nome"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="Conta.CategoriaId" class="control-label"></label>
                <select asp-for="Conta.CategoriaId" class="form-control" asp-items="@(new SelectList(Model.Categorias,"Id","Nome"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="Conta.Descricao" class="control-label"></label>
                <input asp-for="Conta.Descricao" class="form-control" />
                <span asp-validation-for="Conta.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conta.Valor" class="control-label"></label>
                <input asp-for="Conta.Valor" class="form-control" />
                <span asp-validation-for="Conta.Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
