@model ControleDeGastos.Models.ViewModels.ContaFormViewModel

@{
    ViewData["Title"] = "Editar";
}


<br />
<h4>Editar Conta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Conta.Id" />
            <input type="hidden" asp-for="Conta.UsuarioId" />
            <div class="form-group">
                <label asp-for="Conta.Data" class="control-label"></label>
                <input asp-for="Conta.Data" class="form-control" />
                <span asp-validation-for="Conta.Data" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Conta.TipoContaId" class="control-label">Tipo de Conta</label>
                <select asp-for="Conta.TipoContaId" class="form-control" asp-items="@(new SelectList(Model.TipoContas,"Id","Nome"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="Conta.CategoriaId" class="control-label">Categoria</label>
                <select asp-for="Conta.CategoriaId" class="form-control" asp-items="@(new SelectList(Model.Categorias,"Id","Nome"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="Conta.Descricao" class="control-label">Descrição</label>
                <input asp-for="Conta.Descricao" class="form-control" />
                <span asp-validation-for="Conta.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conta.Valor" class="control-label"></label>
                <div class="input-group mb-3">
                    <span class="input-group-text">R$</span>
                    <input asp-for="Conta.Valor" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>



